.header {
    padding: 92px 24px 96px;
    display: grid;
    grid-template-columns: 454px 148px 450px;
    grid-template-rows: 105px;
}
.header_links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 44px 36px 0 26.52px;
    list-style-position: outside;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
}
.header_links-list-item {
    list-style: circle;
    border-bottom: 1px solid #000000;
    width: fit-content;
}
.header_link-active {
    text-decoration: none;
}
.header_links-list-item_no-bullet {
    list-style: none;
}
.contacts-link {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.have-boarder {
    border-bottom: 1px solid #000000;
}
.header-logo {
    display: block;
    width: 140px;
}
.header-logo-image {
    width: 100%;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    margin: 5px 25.48px 2px 184px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.6;
    background: #000000;
}
.title {
    position: relative;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cover {
    position: relative;
    padding: 0;
    margin: auto;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.accent-span {
    display: block;
}
.title-left {
    text-align: left;
    padding-top: 165px;
    padding-left: 50px;
    line-height: 115px;
}
.title-center {
    text-align: center;
    padding-top: 20px;
    
}
.title-right {
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
}
.cover-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.style-h-two {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}
.style-h-three {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}
.no-space {
    letter-spacing: 30px;
}
.letter-space {
    letter-spacing: 60px;
}
.letter-space-end {
    letter-spacing: 60px;
}
.no-space-end {
    letter-spacing: 30px;
}
.cover-description-text {
    position: relative;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    word-spacing: 18px;
    margin-top: 147px;
    margin-bottom: 62px;
    margin-left: 78px;
}
.bet-button {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    margin: 135px 50px 51px auto;
    padding: 12px 32px 11px 31px;
    cursor: pointer
}
.lots-heading {
    margin-top: 179px;
    margin-left: 64px;
    color: #000000;
}
.lots-card-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    width: 95.6%;
    margin: 27px 24px 30px;
}
.lots-card-list-item {
    list-style: none;
}
.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 563px;
    width: 334px;
}
.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}
.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}
.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card-title {
    display: block;
    position: relative;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 51px 40px auto;
}
.paragraph {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
.card-text {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}
.cards-more {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 30px;
    margin-left: 64px;
    border-bottom: 1px solid #000000;
}
.about-logo {
    display: block;
    width: 240px;
    margin-left: 35px;
    margin-top: 90px;
}
.about-title {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 160px;
    margin-bottom: 100px;
}
.about-text { 
    color: #000000;
    letter-spacing: 0.1px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.with-margin {
    margin-top: 25px;
}
.about-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 124px;
    margin-left: 107px;
    margin-right: 24px;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 180px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    margin-left: 24px;
    margin-bottom: 88px;
}
.footer-contacts {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000000;
}
.footer-menu {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #000000;
}
.footer_link_active {
    text-decoration: none;
}
.footer_links-list-item {
    border-bottom: 1px solid #000000;
    width: fit-content;
}
.social-media {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    column-gap: 48px; 
    width: 240px;
    margin-right: 50px;
}
